* {
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}



.title {
  display: flex;
  justify-content: center;
  margin: 0;
  background-image: url(../assets/divTitle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px 0px 0px;
  align-items: center;
}

.titleInvader {
  width: 200px;
}


h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: white;
}


h2 {
  background-color: blue;
  border-radius: 25px;
  padding: 10px 20px;
}

body {
  margin: 0;
  height: 100vh;
}


.game-wrapper {
  /* 61px */
  height: calc(100vh - 160px);
  background-image: url(../assets/bg_retrofuturisticLondon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 10px;
}


/* ******== RIGHT AND LEFT PANEL ==*************** */

.right-panel {
  box-shadow: 0 0 20px 0 rgba(0, 65, 244, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;

}

.left-panel {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;

}

/*************== PLAY and SCORE ==*************/

.box {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: center;
}


.score-wrap {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 200px;
  text-align: center;
  color: white;
}


span#score {
  color: white;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  width: 50px;
  font-size: 30px;

}


/* *********== GRID ==************* */

.grid-wrapper {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 760px;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

/* *************= PLAYER =************ */

.grid div.player {
  background-image: url('../assets/monitorface_preview.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= INVADERS =************ */


.grid div.invader {
  background-image: url('../assets/bulb.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= LASER =************ */

.grid div.laser {
  background-image: url('../assets/laserGame.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= EXPLOSION =************ */

.grid div.explosion {
  background-image: url('../assets/provaExplosion.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}