* {
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}

/* main {
  background-color: black;
} */

h1 {
  text-align: center;
  font-size: 50px;



}

body {
  margin: 0;
  height: 100vh;
}


.game-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 150px;
}


/* ******== RIGHT AND LEFT PANEL ==*************** */

.right-panel {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;

}

.left-panel {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;

}

/*************== PLAY and SCORE ==*************/

.play-button {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: center;
}


.score-wrap {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 200px;
  text-align: center;
}


span#score {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 50px;

}


/* *********== GRID ==************* */

.grid-wrapper {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 2%;
  margin-right: 5%;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 760px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

/* *************= PLAYER =************ */

.grid div.player {
  background-image: url('../assets/shooter.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= INVADERS =************ */


.grid div.invader {
  background-image: url('../assets/invaders.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= LASER =************ */

.grid div.laser {
  background-image: url('../assets/Laser.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* *************= EXPLOSION =************ */

.grid div.explosion {
  background-image: url('../assets/explosion.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}